<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>manu</title></title>
</head>
<body>
<div style="text-align: center;width:1200px; width: 1500px">
<nav id="navbar-example2"class="navbar navbar-light" style="background-color: #e3f2fd;">
    <ul class="nav nav-pills">
          <li class="nav-item" >
              <a class="nav-link" href="" style="margin-left: 20px;font-family: Elephant" >Home</a>
          </li>
            <li class="nav-item" style="margin-left:80px;font-family: Elephant" >
                <a class="nav-link" href="{% url 'i_logincheck' %}" >Prepare_Final_List</a>
             </li>

      <li class="nav-item" style="margin-left:700px;font-family: Elephant;color: deepskyblue">
          <a class="nav-link" href="{% url 'i_logout' %}"><h5>Logout</h5></a>
      </li>
  </ul>
</nav></div>
</body>
</html>